body{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(177,214,175,1) 37%, rgba(18,105,119,0.5) 100%);
}

.btn-primary {
    box-shadow: 3px 3px 5px rgb(169, 169, 169);
    --bs-btn-color: #fff;
    --bs-btn-bg: #126977e3;
    --bs-btn-border-color: #126977e3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #126977e3;
    --bs-btn-hover-border-color: #126977e3;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #126977;
    --bs-btn-active-border-color: #126977;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #12697775;
    --bs-btn-disabled-border-color: #17666abf;
}
.btn-warning{
    --bs-btn-color: #000;
    --bs-btn-bg: #f7ed7e;
    --bs-btn-border-color: #747360a3;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f7ed7e;
    --bs-btn-hover-border-color: #f7ed7e;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fbea22;
    --bs-btn-active-border-color: #fbea22;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f7ed7ead;
    --bs-btn-disabled-border-color: #f7ed7e;
}
.btn-success{
    --bs-btn-color: #fff;
    --bs-btn-bg: #55ab55;
    --bs-btn-border-color: #55ab55;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #55ab55;
    --bs-btn-hover-border-color: #55ab55;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d9b4d;
    --bs-btn-active-border-color: #4d9b4d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #55ab55c7;
    --bs-btn-disabled-border-color: #60c260;
}
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #cb6972;
    --bs-btn-border-color: #cb6972;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #cb6973d0;
    --bs-btn-disabled-border-color: #cb6973d0;
}